.c-line {
	width: 100%;
	border-top: 1px #e9f3fa solid;
	margin-top: 30px;
}

.top {
	margin: 0 auto;
	width: 1200px;
	height: 450px;
}

.top .left {
	width: 600px;
	height: 340px;
	float: left;
	height: auto;
	margin-top: 60px;
	background-color: #000;
	position: relative;
	float: left;
}

.left img {
	width: 100%;
	height: 340px;
	opacity: 0.7;
	filter: alpha(opacity = 30);
}

.left img:hover {
	opacity: 0.95;
}

.left i {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	background: rgba(0, 0, 0, .8) url(/img/play.png) no-repeat;
	background-size: 15px 18px;
	background-position: center center;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.top .right {
	width: 580px;
	height: auto;
	float: left;
	margin-top: 60px;
	margin-left: 20px;
	border-left: 0px;
}

.right span {
	display: inline-block;
	padding: 5px 0;
	min-width: 80px;
}

.class-info {
	width: 100%;
	border: 1.5px solid #E1EDF5;
	clear: both;
	position: relative;
	padding: 15px;
	margin-top: 30px;
	line-height: 30px;
	text-indent: 2em;
	color: #999;
}

.class-info label {
	text-indent: 0;
	margin-top: -28px;
	font-size: 16px;
	font-weight: normal;
	background: #fff;
	text-align: center;
	position: absolute;
	left: 10px;
	padding-right: 5px;
	padding-left: 5px;
	z-index: 200;
	color: #84afe9;
}

.price {
	width: 60%;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	color: #999;
}

.buy {
	width: 60%;
	margin-top: 20px;
	text-align: center;
}

.buy a {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #84afe9;
	padding: 0;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}

.buy a:hover {
	color: #fff;
}

.share {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	background: url("/img/share-icon.png") no-repeat;
	background-position: center center;
	margin-right: 5px;
}

.collection {
	display: inline-block;
	vertical-align: middle;
	background: url("/img/collection_ready.png") no-repeat;
	background-position: center center;
	margin-right: 5px;
	background-size: 15px 12px;
	width: 15px;
	height: 12px;
}

.right .title {
	font-size: 22px;
	width: 100%;
}

.over-view-warp {
	width: 100%;
	overflow: hidden;
	background: #F2FAFF;
	padding-top: 30px;
	padding-bottom: 100px;
}

.over-view-cont {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
}

.over-view-cont-left {
	width: 860px;
	float: left;
	padding: 15px;
	background: #fff;
	padding-top: 0px;
}

.tab-title {
	width: 100%;
}

.tab-title ul {
	overflow: hidden;
}

.tab-title ul li {
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
	border-top: 5px solid #fff;
}

.tab-title ul li:first-child {
	border-top: 5px solid #84afe9;
}

.tab-title ul li a {
	display: block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
}

.tab-bg {
	border-top: 5px solid #84afe9;
}

.course_des {
	width: 100%;
	clear: both;
	min-height: 350px;
	padding: 30px;
	line-height: 25px;
	text-indent: 2em;
	color: #999;
}

/*选项卡2*/
#tab2, #tab3 {
	display: none;
}

.tab-box {
	clear: both;
	min-height: 350px;
	margin-top: 30px;
}

.course-name {
	
}

.course-name span {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ccc;
	float: left;
	font-size: 16px;
}

.course-name p {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-indent: 2em;
	font-size: 14px;
}

.course-name a {
	color: #999;
}

.course {
	width: 100%;
	clear: both;
	font-size: 14px;
	text-indent: 4em;
	background: #fff;
	padding: 5px;
}

.course ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 30px;
}

/*选项卡3*/
.comment {
	width: 100%;
	overflow: hidden;
	padding-top: 30px;
}

.comment .tit {
	width: 100%;
	font-size: 20px;
	padding: 20px 0;
	border-bottom: 1px solid #e9f3fa;
	margin-bottom: 30px;
}

.comment .auth {
	width: 90px;
	height: 90px;
	margin-top: 20px;
}

.auth p {
	color: #999;
	padding-left: 5px;
	padding-top: 5px;
}

.auth img {
	width: 60px;
	height: 60px;
	border: 1px solid #E1EDF5;
	border-radius: 50%;
}

.comment .left {
	float: left;
}

.comment-wrap-kuang {
	width: 700px;
	border: 1px solid #e1edf5;
	position: relative;
	padding: 10px 120px 10px 20px;
	border-radius: 8px;
	position: relative;
}

.comment-wrap-kuang p {
	line-height: 24px;
	color: #999;
	width: 594px;
	margin: 10px 0;
}

.comment-wrap-kuang .reply {
	padding: 0 20px;
	text-indent: 2em;
}

.comment-wrap-link {
	text-align: right;
	padding-right: 20px;
	margin-top: 10px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.comment .textarea {
	width: 700px;
	background-color: #E1EDF5;
	position: relative;
	margin-top: 10px;
}

.comment textarea {
	padding: 10px 15px;
	width: 700px;
	height: 110px;
	font-size: 13px;
	border: none;
	background-color: #E1EDF5;
	resize: none;
	display: inline-block;
	vertical-align: top;
	outline-style: none;
}

.dn {
	display: none;
}

.textarea a {
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 20px;
	color: #fff !important;
	background-color: #84afe9;
	outline: none;
	display: block;
}

.textarea .submit-bar-1 {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.clearfix {
	zoom: 1;
}

.comment-wrap-sub {
	width: 700px;
	position: relative;
	padding: 10px 20px 0;
	position: relative;
	border-bottom: 1px solid #e2eef6;
	padding-bottom: 20px;
}

.comment-wrap-sub .sub-author {
	float: left;
	display: inline;
	border: 1px solid #E1EDF5;
	border-radius: 50%;
}

.sub-author img {
	width: 44px;
	height: 44px;
}

.comment-wrap-sub .sub-comment-wrap {
	float: left;
	display: inline;
	margin-left: 10px;
}

.sub-comment-wrap p {
	color: #999;
}

.tc {
	width: 100%;
	margin: 0 auto;
}

.over-view-cont-right {
	float: right;
	width: 300px;
	overflow: hidden;
}

.author_photo {
	width: 300px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}

.author_photo img {
	margin-top: 30px;
	width: 80px;
	height: 80px;
	border: 1px solid #E1EDF5;
	border-radius: 50%;
}

.author_photo .name {
	padding-top: 10px;
	color: #84afe9;
	margin-bottom: 10px;
}

.author_photo .desc {
	color: #999;
	text-align: left;
	padding: 20px;
	line-height: 25px;
	text-indent: 2em;
	border-top: 1.5px solid #E1EDF5;
	margin-top: 10px;
}


.donation{
	width: 300px;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	margin-top: 30px;
}

.donation p{
	font-size: 18px;
	color: #999;
	padding-top: 10px;
}

.donation img {
	width: 220px;
	height: 220px;
	margin-bottom: 30px;
	margin-top: 10px;
}


/*版权部分*/
.footer{
	width:100%;
	height: 140px;
	padding-top: 1px;
	clear: both;
}