body, div, ul, ol, li, dl, dt, dd {
	margin: 0;
	padding: 0;
}

dl {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.main {
	background: #f2faff;
	min-height: 1000px;
	margin-top: 30px;
}

.w1200 {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
}

.position {
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin: 30px 0;
	display: block;
	float: left;
}

.position span {
	color: #6face0;
}

.index_left {
	padding-left: 15px;
	padding-right: 15px;
	width: 260px;
	height: 800px;
	background: #fff;
	box-shadow: 1px 1px 5px #cddeeb;
	border-radius: 5px;
	float: left;
}

.in_l_con01 {
	width: 140px;
	margin: 20px auto 0;
	text-align: center;
	position: relative;
}

.in_l_con01 p {
	margin-top: 10px;
	color: #999;
}

.photoBox {
	width: 103px;
	height: 103px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 18px;
	top: 18px;
}

.photoBox img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 102px;
	height: 102px;
	max-width: none;
}

.mt_20 {
	margin-top: 20px;
}

.cf {
	float: left;
}

.bg-ico37 {
	width: 20px;
	height: 17px;
	background: url(/img/css_sprites.png) -10px -273px;
}

.spanIco {
	display: inline-block;
}

.in_l_con05 {
	margin-top: 30px;
	width: 260px;
}

.in_l_con05 dl {
	width: 88%;
	display: block;
}

.in_l_con05 dt {
	border-radius: 5px;
	padding-top: 8px;
	height: 35px;
	line-height: 35px;
}

.in_l_con05 dt a {
	color: #4f5f6f;
	line-height: 1.1;
	display: block;
}

.in_l_con05 dt span {
	margin: 0px 15px 0;
	float: left;
}

.in_l_con05 dt i {
	background: url(/img/jia.png) no-repeat;
	width: 7px;
	height: 7px;
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}

.in_l_con05 dl:hover dt {
	background: #6face0;
}

.in_l_con05 dl:hover dt a {
	color: #fff;
}

.in_l_con05 dl:hover dt i {
	background: url(/img/jian.png) no-repeat;
}

.in_l_con05 dl.active dt {
	background: #6face0;
}

.in_l_con05 dl.active dt a {
	color: #fff;
}

.in_l_con05 dl.active dt i {
	background: url(/img/jian.png) no-repeat;
}

.in_l_con05 dl.active dd ul {
	display: block;
}

.in_l_con05 dd ul {
	display: none;
}

.in_l_con05 dd li {
	height: 35px;
	line-height: 35px;
	text-indent: 50px;
	margin-top: 10px;
}

.in_l_con05 dd li a {
	display: block;
	border-radius: 5px;
}

.in_l_con05 dd li a:hover {
	background: #6face0;
	color: #fff;
}

.in_l_con05 dd li a.on {
	background: #6face0;
	color: #fff;
}

.in_l_con05 dl:hover ul {
	display: block;
}

.in_l_con05 dl.dl1:hover dt span {
	background-position: -49px -234px;
}

.in_l_con05 dl.dl2:hover dt span {
	background-position: -209px -273px;
}

.in_l_con05 dl.dl3:hover dt span {
	background-position: -169px -273px;
}

.in_l_con05 dl.dl4:hover dt span {
	background-position: -168px -234px;
}

.in_l_con05 dl.dl5:hover dt span {
	background-position: -50px -310px;
}

.in_l_con05 dl.dl6:hover dt span {
	background-position: -129px -273px;
}

.in_l_con05 dl.dl1.active dt span {
	background-position: -49px -234px;
}

.in_l_con05 dl.dl2.active dt span {
	background-position: -209px -273px;
}

.in_l_con05 dl.dl3.active dt span {
	background-position: -169px -273px;
}

.in_l_con05 dl.dl4.active dt span {
	background-position: -168px -234px;
}

.in_l_con05 dl.dl5.active dt span {
	background-position: -50px -310px;
}

.in_l_con05 dl.dl6.active dt span {
	background-position: -129px -273px;
}

.fnt_16 {
	font-size: 16px;
	font-weight: normal;
}

.bg-ico01 {
	width: 19px;
	height: 19px;
	background: url('/img/css_sprites.png') -10px -234px;
}

.bg-ico02 {
	width: 14px;
	height: 14px;
	background: url('/img/css_sprites.png') -319px -187px;
}

.bg-ico03 {
	width: 19px;
	height: 17px;
	background: url('/img/css_sprites.png') -50px -273px;
}

.bg-ico04 {
	width: 19px;
	height: 15px;
	background: url('/img/css_sprites.png') -319px -10px;
}

.bg-ico05 {
	width: 16px;
	height: 16px;
	background: url('/img/css_sprites.png') -319px -81px;
}

.bg-ico06 {
	width: 16px;
	height: 14px;
	background: url('/img/css_sprites.png') -319px -153px;
}

.bg-ico07 {
	width: 14px;
	height: 13px;
	background: url('/img/css_sprites.png') -319px -221px;
}

.bg-ico08 {
	width: 27px;
	height: 22px;
	background: url('/img/css_sprites.png') -234px -10px;
}

.bg-ico09 {
	width: 27px;
	height: 22px;
	background: url('/img/css_sprites.png') -156px -182px;
}

.bg-ico10 {
	width: 23px;
	height: 23px;
	background: url('/img/css_sprites.png') -234px -183px;
}

.bg-ico11 {
	width: 23px;
	height: 23px;
	background: url('/img/css_sprites.png') -234px -140px;
}

.bg-ico12 {
	width: 24px;
	height: 24px;
	background: url('/img/css_sprites.png') -234px -96px;
}

.bg-ico13 {
	width: 24px;
	height: 24px;
	background: url('/img/css_sprites.png') -234px -52px;
}

.bg-ico14 {
	width: 27px;
	height: 23px;
	background: url('/img/css_sprites.png') -109px -182px;
}

.bg-ico15 {
	width: 27px;
	height: 23px;
	background: url('/img/css_sprites.png') -62px -182px;
}

.bg-ico16 {
	width: 48px;
	height: 48px;
	background: url('/img/css_sprites.png') -10px -10px;
}

.bg-ico17 {
	width: 12px;
	height: 8px;
	background: url('/img/css_sprites.png') -319px -254px;
}

.bg-ico18 {
	width: 16px;
	height: 16px;
	background: url('/img/css_sprites.png') -319px -117px;
}

.bg-ico20 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -114px -130px;
}

.bg-ico20.on {
	background-position: -62px -130px
}

.bg-ico22 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -10px -130px;
}

.bg-ico22.on {
	background-position: -10px -182px
}

.bg-ico24 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -182px -10px;
}

.bg-ico24.on {
	background-position: -78px -10px
}

.bg-ico25 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -182px -114px;
}

.bg-ico25.on {
	background-position: -130px -62px;
}

.bg-ico27 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -130px -10px;
}

.bg-ico27.on {
	background-position: -62px -78px;
}

.bg-ico29 {
	width: 32px;
	height: 32px;
	background: url('/img/css_sprites.png') -10px -78px;
}

.bg-ico29.on {
	background-position: -182px -62px;
}

.bg-ico31 {
	width: 19px;
	height: 18px;
	background: url('/img/css_sprites.png') -129px -234px;
}

.bg-ico32 {
	width: 18px;
	height: 20px;
	background: url('/img/css_sprites.png') -281px -10px;
}

.bg-ico33 {
	width: 20px;
	height: 18px;
	background: url('/img/css_sprites.png') -89px -234px;
}

.bg-ico34 {
	width: 20px;
	height: 18px;
	background: url('/img/css_sprites.png') -49px -234px;
}

.bg-ico35 {
	width: 20px;
	height: 16px;
	background: url('/img/css_sprites.png') -249px -273px;
}

.bg-ico36 {
	width: 20px;
	height: 16px;
	background: url('/img/css_sprites.png') -209px -273px;
}

.bg-ico37 {
	width: 20px;
	height: 17px;
	background: url('/img/css_sprites.png') -10px -273px;
}

.bg-ico38 {
	width: 20px;
	height: 16px;
	background: url('/img/css_sprites.png') -169px -273px;
}

.bg-ico39 {
	width: 20px;
	height: 17px;
	background: url('/img/css_sprites.png') -208px -234px;
}

.bg-ico40 {
	width: 20px;
	height: 17px;
	background: url('/img/css_sprites.png') -168px -234px;
}

.bg-ico41 {
	width: 20px;
	height: 14px;
	background: url('/img/css_sprites.png') -10px -310px;
}

.bg-ico42 {
	width: 20px;
	height: 14px;
	background: url('/img/css_sprites.png') -50px -310px;
}

.bg-ico43 {
	width: 20px;
	height: 16px;
	background: url('/img/css_sprites.png') -89px -273px;
}

.bg-ico44 {
	width: 20px;
	height: 16px;
	background: url('/img/css_sprites.png') -129px -273px;
}

.bg-ico45 {
	width: 17px;
	height: 18px;
	background: url('/img/css_sprites.png') -281px -50px;
}

.bg-ico46 {
	width: 17px;
	height: 16px;
	background: url('/img/css_sprites.png') -319px -45px;
}

.bg-ico47 {
	width: 17px;
	height: 17px;
	background: url('/img/css_sprites.png') -281px -88px;
}

.in_r_page {
	background: #fff;
	width: 900px;
	box-sizing: border-box;
	padding: 40px 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #cddeeb;
	float: right;
}

.info-about {
	width: 840px;
}

/*个人资料区别于其他表单的样式*/
.info-about.myInfo.on .info-item dd.info-filled {
	display: none
}

.info-about.myInfo .info-item .info-input {
	display: none;
}

.info-about.myInfo.on .info-item .info-input {
	display: block;
}

.info-about.myInfo .info-item .star {
	display: none;
}

.info-about.myInfo.on .info-item .star {
	display: inline;
}

.info-about.myInfo.on .info-item.info-pic .info-picList {
	display: inline;
}

.info-about.myInfo .info-item .info-area {
	display: none;
}

.info-about.myInfo.on .info-item .info-area {
	display: block;
}
/*结束*/
.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.header-r p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.prz {
	position: relative;
	zoom: 1;
}

.ibox {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
}

.ibox.style-verti {
	vertical-align: middle
}

.info-about .info-header .header-r {
	height: 42px;
}

.info-header a {
	text-decoration: none;
}

.cleargap {
	font-size: 0;
	letter-spacing: -8px;
}

.user-img {
	position: absolute;
	top: 11px;
	left: 0px;
	width: 30px;
	height: 20px;
	max-width: none;
}

/*个人资料*/
.info-about .info-header {
	box-sizing: border-box;
	width: 100%;
	height: 42px;
	background: #edf7fd;
	border-radius: 3px;
	padding: 0 36px 0 42px;
}

.info-about .info-header dd {
	width: 30px;
	height: 42px;
}

.info-about .info-header dt {
	color: #4f5f6f;
	height: 42px;
	line-height: 42px;
	margin-left: 10px
}

.info-about .info-header .header-r {
	height: 42px;
}

.info-about .info-header .header-r a {
	color: #00abf0;
	width: 52px;
	height: 42px;
	line-height: 42px
}

.info-about.active .info-header .header-r img {
	transform: rotate(180deg);
}

.info-about .info-header .header-r img {
	transition: all 0.4s;
}

.info-about.active .info-header .header-r img {
	transform: rotate(180deg);
}

.info-about .myAccount {
	background: #f7f7f7;
	overflow: hidden;
	padding-left: 20px;
}

.info-about .info-item {
	width: 100%;
	float: left;
}

.info-about .info-item dl {
	margin: 0;
	padding: 0;
}

.mt_20 {
	margin-top: 20px;
}

.clearfix {
	*zoom: 1;
}

.info-about .info-item dt {
	width: 94px;
	height: 34px;
	line-height: 34px;
	color: #b4babf;
	text-align: right
}

.info-about .info-item dd.info-filled {
	width: 600px;
	color: #4f5f6f;
	word-wrap: break-word;
	line-height: 34px;
	display: block;
}

.info-about .myAccount dd {
	height: 34px;
	line-height: 34px;
	width: 200px;
}

.info-about .info-item .info-input input {
	width: 190px;
	padding: 9px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #bec6cc;
	border-radius: 3px;
	color: #4f5f6f;
}

.photo-set {
	position: absolute;
	top: -7.10543e-15px;
	left: -7.10543e-15px;
	width: 110px;
	height: 110px;
	max-width: none;
}

.info-about .info-item.info-pic .info-picList {
	margin-left: 60px;
	width: 230px;
}

.info-about .info-item.info-pic .pic-add input {
	width: 50px;
	height: 50px;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
}

.info-about .info-item.info-pic .info-picList li .pic-choose {
	display: none;
	width: 30px;
	height: 20px;
	background: url(../img/ly-choose.png) no-repeat center;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -15px;
}

.info-about .info-item.info-pic .info-picList li.active .pic-choose {
	display: block;
}

.info-about .info-item.info-pic .info-picList img {
	vertical-align: top;
}

.info-about .info-item.info-pic dd {
	width: 110px;
	height: 110px;
	overflow: hidden;
}

.info-about .info-item.info-pic .pic-box span {
	display: block;
	background: #d8d8d8;
	color: #b4babf;
	line-height: 110px;
	text-align: center
}

.info-about .info-item.info-pic .pic-box img {
	opacity: 0;
}

.info-about .info-item.info-pic .pic-box.active img {
	opacity: 1
}

.info-about .info-item.info-pic .pic-box.active span {
	display: none;
}

.info-about .info-item.info-pic .info-picList {
	margin-left: 60px;
	width: 230px;
}

.ml_10 {
	margin-left: 10px
}

.mt_10 {
	margin-top: 10px
}

.pra {
	position: absolute;
}

.shiming {
	position: absolute;
	top: 8.5px;
	left: 3.5px;
	width: 23px;
	height: 25px;
	max-width: none;
}

.info-about .info-list {
	width: 762px;
	padding: 20px 36px 0 42px;
}

.info-about .info-list .info-pic {
	height: 110px;
}

.info-about .info-list dl {
	width: 100%;
}

.info-about .info-item .info-tip {
	display: none;
	color: #ea0a0a;
	height: 36px;
	line-height: 36px;
	margin-left: 10px
}

.info-about .info-item .info-tip.active {
	display: inline-block;
}

.info-about .info-item.info-gender .set-radio {
	margin-top: 0;
}

.set-radio.active {
	background: #6face0;
}

.ibox.style-verti {
	vertical-align: middle;
}

.set-radio {
	width: 13px;
	height: 13px;
	border: 1px solid #6face0;
	border-radius: 50%;
	margin-top: 4px;
}

.ibox {
	display: inline-block;
	vertical-align: top;
	letter-spacing: normal;
}

.info-about .info-item.info-gender label {
	cursor: pointer;
}

.info-about .info-item.info-gender input {
	display: none;
}

.set-radio.active>span {
	display: block;
}

.set-radio>span {
	display: none;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	left: 50%;
	top: 50%;
	margin: -3px 0 0 -3px;
}

.ml_20 {
	margin-left: 20px;
}

.info-about .info-item.info-gender label ._gender {
	color: #4f5f6f;
	margin-left: 10px;
	height: 34px;
	line-height: 34px;
}

dl {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.resetpwd {
	width: 230px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	border: none;
	color: #fff !important;
	background-color: #84afe9;
	outline: none;
	display: block;
	margin: 20px;
	border-radius: 5px;
	text-decoration: none;
}

.must {
	color: red;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	opacity: 0.5;
}