.vip-line{
	width: 1200px;
	margin:0 auto;
	height:80px;
	padding-top:50px;
	font-weight: bold;
}

.vip-line .left{
	width: 110px;
	height:30px;
	float:left;
	border-bottom: 2px #55B928 solid;
}

.vip-line .right{
	width: 1090px;
	height:30px;
	float:left;
	border-bottom: 2px #ddd solid;
}


.content{
	width: 1150px;
	margin: 0 auto;
	height: auto;
	padding-left: 50px;
	padding-top: 30px;
}

.content dt{
	font-weight: bold;
	margin-top: 50px;
}

.content dd{
	padding-top:20px;
	text-indent: 2em;
}


.buy{
	width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	margin-bottom: 100px;
}


/*版权部分*/
.footer{
	height: 140px;
	padding-top: 1px;
	margin-top: 30px;
}