<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>邮箱验证</title>
<link rel="stylesheet" href="/css/forgot.css">
</head>
<body>
	#include("header.html")


	<div class="slider-box">
		<!--start slider-box-->

		<div class="forgot-layout">
			<div class="forgot-title">找回密码</div>

			<div class="flow">
				<div class="flowListBox">
					<div class="flowList for-cur first">
						<em>1</em><br> <strong>邮箱验证</strong>
					</div>
					<div class="flowList">
						<em>2</em><br> <strong>重置密码</strong>
					</div>
					<div class="flowList">
						<em class="icon-right"></em><br> <strong class="last">完成</strong>
					</div>
				</div>
			</div>

			<div class="form-group-layout">
				<form action="?">
					<div class="form-group form-group-percent">
						<span class="f2">邮箱</span> <input type="text" id="JEmail" name=""
							class="text" /> <i class="err-msg" id="JEmailMsg"></i>
					</div>
					<div class="form-group">
						<input class="submit" id="Jsubmit" name="" type="button"
							value="下一步" />
					</div>
				</form>
			</div>

		</div>

	</div>
	<!--end slider-box-->

</body>
</html>