<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>课程详情</title>
<link rel="stylesheet" href="/css/course.css">
<link rel="stylesheet" href="/css/pagination.css"/>
<script src="/js/jquery.js"></script>
</head>
<body>
	<!-- 引入头部页面 -->
	#include("header.html")
	
	<div class="c-line"></div>
	<div class="top">
		<div class="left">
			<img alt="封面图" src="/img/jfinal.jpg">
			<i></i>
		</div>
		<div class="right">
			<span class="title">VIP-1701班-Linux云计算集群架构师课程</span>
			<div style="width: 70%;text-align: center;">
				<span>浏览 1453</span>
				<span><i class="share"></i>分享</span>
				<span><i class="collection"></i>收藏</span>
			</div>
			<div class="class-info">
				<label>课程简介</label>
				16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课
			</div>
			<div class="price">
				<span>现价:<label style="color:#FC5147; padding-right: 20px;">￥99.00</label></span>
				<span>原价:<span style="text-decoration: line-through;">￥149.00</span></span>
			</div>
			<div class="buy">
				<a class="btn">立即购买</a>
				<a class="btn">下载资料</a>
			</div>
		</div>
	</div>

	<div class="over-view-warp">
		<div class="over-view-cont">
			<div class="over-view-cont-left">
				<div class="tab-title">
					<ul>
						<li class="tab-bg" data-tab="1"><a>课程概述</a></li>
						<li data-tab="2"><a>课程目录</a></li>
						<li data-tab="3"><a>课程评论（900）</a></li>
					</ul>
				</div>
				
				<!-- 选项卡1 -->
				<div class="tab" id="tab1">
					<div class="course_des">
						16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课16年12月开课 至 21年12月结课
					</div>
				</div>
				
				
				<!-- 选项卡2 -->
				<div class="tab" id="tab2">
					<div class="tab-box">
						<div class="course-name">
							<div class="course">
								<ul>
									<li>
										<img src="img/video.png">&nbsp;&nbsp;&nbsp;
										<a href="#">第一节、Linux文件管理和xfs文件系统的备份恢复</a>
									</li>
									<li>
										<img src="img/video.png">&nbsp;&nbsp;&nbsp;
										<a href="#">第二节、Linux文件管理和xfs文件系统的备份恢复</a>
									</li>
									<li>
										<img src="img/video.png">&nbsp;&nbsp;&nbsp;
										<a href="#">第三节、Linux文件管理和xfs文件系统的备份恢复</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>



				<!-- 选项卡3 -->
				<div class="tab" id="tab3">
					<div class="public">
						<span>发表评论</span>
						<textarea placeholder="写下你的评论..."></textarea>
						<a>发送</a>
					</div>
				
					<div class="comment">
						<div class="tit">最新评论</div>
						<div class="auth left">
							<img alt="头像" src="/img/userinfo.png" />
							<p>DR153...</p>
						</div>
						<!-- 评论内容 -->
						<div class="left">
							<div class="comment-wrap-kuang">
								<p class="date">2018-06-15 17:40:14</p>
								<p class="reply">现在我获取到了一张表明，现在我要通过这张表名来获取所有字段名，并且把他们放到数组里面供我使用，该怎么做？</p>
								<div class="comment-wrap-link">
									<a class="comment-btn" href="javascript:;">回复(2)</a>
								</div>
							</div>
							<div class="textarea dn">
								<form action="">
									<textarea id="topicReplyParent336" placeholder="写下你的评论..."></textarea>
									<div class="submit-bar-1">
										<a href="javascript:topicReplySynch('2',336,49);">发送</a>
									</div>
								</form>
							</div>

							<!-- 跟评 -->
							<div id="">
								<div class="comment-wrap-sub clearfix">
									<div class="sub-author">
										<img class="avatar" src="/img/userinfo.png" alt="头像" />
									</div>
									<div class="sub-comment-wrap">
										<p>DR1528860580</p>
										<p>谢谢!!!!</p>
									</div>
								</div>
							</div>
							<!-- 跟评结束 -->


							<!-- 跟评 -->
							<div id="">
								<div class="comment-wrap-sub clearfix">
									<div class="sub-author">
										<img class="avatar" src="/img/userinfo.png" alt="头像" />
									</div>
									<div class="sub-comment-wrap">
										<p>DR1528860580</p>
										<p>谢谢!!!!</p>
									</div>
								</div>
							</div>
							<!-- 跟评结束 -->

						</div>
						<!-- 评论内容结束 -->
						
						
						<div class="pagination tc">
							<div class="pagination">
								<span class="current prev">上一页</span>
								<span class="current">1</span>
								<a href="javascript:void(0)">2</a>
								<a href="javascript:void(0)">3</a>
								<a href="javascript:void(0)">4</a>
								<a href="javascript:void(0)">5</a>
								<a href="javascript:void(0)" class="next">下一页</a>
							</div>
						</div>
						<!-- 分页结束 -->
					</div>
					<!-- comment结束 -->
				</div>
				<!-- tab3结束 -->
				
			</div>
			<!-- over-view-cont-left结束 -->
			
			
			<div class="over-view-cont-right">
				<div class="author_photo">
					<img alt="作者头像" src="/img/userinfo.png">
					<div class="name">小明老师</div>
					<div class="desc">
						普通家庭投资理财科普教育者，专注家庭理财科普，传播正确的理财方法和科学的投资心态
					</div>
				</div>
				
				<div class="donation">
					<p>扫码捐助</p>
					<img alt="扫码捐助" src="/img/weipayimg.jpg">
				</div>
			</div>
			
		</div>
		<!-- over-view-cont结束 -->
	</div>
	<!-- over-view-warp结束 -->
	
	
	
	<!-- 引入底部页面 -->
	#include("buttom.html")

	<script type="text/javascript">

	$(function(){
		$(".tab-title ul li").click(function(){
			var tab=$(this).attr("data-tab");
			$(".tab-title ul li").css("borderTop","5px solid #fff");
			$(this).css("borderTop","5px solid #84afe9");
			if (tab==1) {
				$("#tab1").show();
				$("#tab2").hide();
				$("#tab3").hide();
			}else if(tab==2){
				
				$("#tab1").hide();
				$("#tab2").show();
				$("#tab3").hide();
			}else{
				$("#tab1").hide();
				$("#tab2").hide();
				$("#tab3").show();
			}
		});
		
		
		
		$(".comment-btn").on('click', function(){
			var _this = $(this);
			var _target = _this.closest(".comment-wrap-kuang").next(".textarea");

			if(_target.is(':visible')){
				_this.text("回复");
				_target.hide();
			}else{
				$(".textarea").hide();
				$(".sub-textarea").hide();
				_this.text("收起");
				_target.show();
			}
		})
	})
</script>
</body>
</html>