<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>问答</title>
<link rel="stylesheet" href="/css/faq.css">
<link rel="stylesheet" href="/css/pagination.css"/>
<script src="/js/jquery.js"></script>
</head>
<body>
	#include("header.html")
	
	<div class="main">
		<div class="leftC">
			<div class="faq-line">
				<span class="faq-menu current"><a href="jacascript::void(0)">全部问答</a></span>
				<span class="faq-menu"><a href="jacascript::void(0)">技术疑问</a></span>
				<span class="faq-menu"><a href="jacascript::void(0)">技术分享</a></span>
				<div class="right"></div>
			</div>
			
			
			<div class="faq">
				<div class="left">
					<img alt="头像" src="/img/userinfo.png"/>
				</div>
				
				<div class="middle">
					<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>微信登录授权session不一致</a></span>
					<span><i class="layui-icon" style="color:#99D786;padding-right: 10px;">&#xe611;</i> 哈~~~ 此问题大家还有苦思冥想中...</span>
					<span style="padding-left: 30px;">
						<i class="glyphicon glyphicon-time" style="color:#15B393;"></i> 2018-8-8 11:47:00
						<i class="glyphicon glyphicon-user" style="color:#15B393;padding-left: 20px;"></i> Mark</span>
				</div>
				
				<div class="right">
					<span>2<br/>回答数</span>
					<span>23<br/>浏览数</span>
				</div>
			</div>
			
			
			<div class="faq">
				<div class="left">
					<img alt="头像" src="/img/userinfo.png"/>
				</div>
				
				<div class="middle">
					<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>微信登录授权session不一致</a></span>
					<span><i class="layui-icon" style="color:#99D786;padding-right: 10px;">&#xe611;</i> 哈~~~ 此问题大家还有苦思冥想中...</span>
					<span style="padding-left: 30px;">
						<i class="glyphicon glyphicon-time" style="color:#15B393;"></i> 2018-8-8 11:47:00
						<i class="glyphicon glyphicon-user" style="color:#15B393;padding-left: 20px;"></i> Mark</span>
				</div>
				
				<div class="right">
					<span>2<br/>回答数</span>
					<span>23<br/>浏览数</span>
				</div>
			</div>
			
			
			<div class="faq">
				<div class="left">
					<img alt="头像" src="/img/userinfo.png"/>
				</div>
				
				<div class="middle">
					<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>微信登录授权session不一致</a></span>
					<span><i class="layui-icon" style="color:#99D786;padding-right: 10px;">&#xe611;</i> 哈~~~ 此问题大家还有苦思冥想中...</span>
					<span style="padding-left: 30px;">
						<i class="glyphicon glyphicon-time" style="color:#15B393;"></i> 2018-8-8 11:47:00
						<i class="glyphicon glyphicon-user" style="color:#15B393;padding-left: 20px;"></i> Mark</span>
				</div>
				
				<div class="right">
					<span>2<br/>回答数</span>
					<span>23<br/>浏览数</span>
				</div>
			</div>
			
			
			
			<div class="faq">
				<div class="left">
					<img alt="头像" src="/img/userinfo.png"/>
				</div>
				
				<div class="middle">
					<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>微信登录授权session不一致</a></span>
					<span><i class="layui-icon" style="color:#99D786;padding-right: 10px;">&#xe611;</i> 哈~~~ 此问题大家还有苦思冥想中...</span>
					<span style="padding-left: 30px;">
						<i class="glyphicon glyphicon-time" style="color:#15B393;"></i> 2018-8-8 11:47:00
						<i class="glyphicon glyphicon-user" style="color:#15B393;padding-left: 20px;"></i> Mark</span>
				</div>
				
				<div class="right">
					<span>2<br/>回答数</span>
					<span>23<br/>浏览数</span>
				</div>
			</div>
			
			
			<div class="faq">
				<div class="left">
					<img alt="头像" src="/img/userinfo.png"/>
				</div>
				
				<div class="middle">
					<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>微信登录授权session不一致</a></span>
					<span><i class="layui-icon" style="color:#99D786;padding-right: 10px;">&#xe611;</i> 哈~~~ 此问题大家还有苦思冥想中...</span>
					<span style="padding-left: 30px;">
						<i class="glyphicon glyphicon-time" style="color:#15B393;"></i> 2018-8-8 11:47:00
						<i class="glyphicon glyphicon-user" style="color:#15B393;padding-left: 20px;"></i> Mark</span>
				</div>
				
				<div class="right">
					<span>2<br/>回答数</span>
					<span>23<br/>浏览数</span>
				</div>
			</div>
			
			
			<div class="tc">
					<ul class="pagination">
						<div class="pagination">
							<span class="current prev">上一页</span>
							<span class="current">1</span>
							<a href="javascript:void(0)">2</a>
							<a href="javascript:void(0)">3</a>
							<a href="javascript:void(0)">4</a>
							<a href="javascript:void(0)">5</a>
							<a href="javascript:void(0)" class="next">下一页</a>
						</div>
					</ul>
			</div>
			
		</div>
		
		
		<div class="rightC">
			<div class="ask">我要提问</div>
			<span>热门问答</span>
			<div class="hot">
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>多线程完全不会，先要和spring...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>蚂蚁课堂-每特学员中，谁技术最...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>现在SSM足以应付，将来的趋势...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>传统非spring boot项目 如何接...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>springboot的好处，简单说一下</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>activemq启动报错 于老师这个怎...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>如何将ueditor的图片上传路径修改为...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>有没有zookeeper，leaf6，doin...</a></span>
				<span><i class="layui-icon" style="color:#FF6C00;padding-right: 10px;">&#xe6b2;</i><a>多线程完全不会，先要和spring整合...</a></span>
			</div>
		</div>
		
	</div>
	
	<!-- 引入底部页面 -->
	#include("buttom.html")
<script type="text/javascript">
	$(function(){
		$(".faq-line").find("span").each(function(index){
			$(this).on('click',function(){
				$("span[class='faq-menu current']").removeClass("current");
				$(this).addClass("current");
			})
		});
	})
</script>
</body>
</html>