<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>导航</title>
	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/public.css">
</head>
<body>
	<div class="header">
		<div class="header-c">
			<div class="logo"><a href="#"><img src="img/logo.png" width="160px" height="65px"></a></div>
			<div class="menu">
					<a href="/"><span class="glyphicon glyphicon-home"></span>首页</a>
					<a href="/list"><span class="glyphicon glyphicon-book"></span>课程</a>
					<a href="/vip"><span class="glyphicon glyphicon-leaf"></span>会员</a>
					<a href="/faq"><span class="glyphicon glyphicon-comment"></span>问答</a>
					<a href="#"><span class="glyphicon glyphicon-send"></span>社区</a>
				</div>
			<div class="header-link">
					<p>
						<a href="javascript:login()">登录</a> 
						<a href="javascript:regit()">注册</a>
					</p>
			</div>
		</div>
	</div>
	
	<!-- 登录弹框start -->
	<div id="login" style="display: none;padding-top: 25px">
		<form class="layui-form" action="" id="myForm">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span class="must">*</span>邮箱：</label>
					<div class="layui-input-inline">
						<input type="text" name="email" lay-verify="email" class="form-control" placeholder="请输入邮箱">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span class="must">*</span>密码：</label>
					<div class="layui-input-inline">
						<input type="text" name="password" lay-verify="password" class="form-control" placeholder="请输入密码">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label" style="padding-left: 50px;color:#ccc">
						还没有账号？
						<span><a href="javascript:regit();" style="color:#FF6C00">立即注册</a></span>
						<span style="margin-left:50px;color:#84afe9"><a href="javascript:forgot();">忘记密码？</a></span>
					</label>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="btn btn-success" style="width: 200px;height: 38px;background: #84afe9;" lay-submit=""  lay-filter="save">登录</button>
				</div>
			</div>
		</form>
	</div>
	<!-- 登录弹框end -->
	
	
	<div id="regit" style="display: none;padding-top: 25px">
		<form class="layui-form" action="" id="regitF">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span class="must">*</span>邮箱：</label>
					<div class="layui-input-inline">
						<input type="text" name="email" lay-verify="email" class="form-control" placeholder="请输入邮箱">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span class="must">*</span>密码：</label>
					<div class="layui-input-inline">
						<input type="password" name="password" lay-verify="password" class="form-control" placeholder="请输入密码">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label"><span class="must">*</span>确认密码：</label>
					<div class="layui-input-inline">
						<input type="password" name="configpwd" lay-verify="configpwd" class="form-control" placeholder="请输入确认密码">
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<div class="layui-input-inline" style="margin-left: 40px;width: 120px;">
						<input type="text" name="verifyCode" lay-verify="verifyCode" class="form-control" placeholder="请输入验证码">
					</div>
					<label style="vertical-align: top">
						<img alt="验证码" src="/img/random.png" height="33px;" width="60px;">
					</label>
					<label style="font-size: 12px;font-weight: normal;margin-left: 10px;">
						<div>看不清</div>
						<div style="color: #FF6C00">换一张</div>
					</label>
				</div>
				<div class="layui-form-item" style="margin-top: 15px;">
					<div class="layui-input-block">
						<button class="btn btn-success" style="width: 200px;height: 38px;background: #84afe9;" lay-submit=""  lay-filter="regit">注册</button>
					</div>
				</div>
			</div>
		</form>
	</div>
<script src="/js/jquery.js"></script>
<script src="/js/layer/layer.js"></script>
<script type="text/javascript">
	function login(){
		layer.open({
			title:'登录',
	  		type: 1,
	  		area: ['400px', '315px'], //宽高
	 	 	content: $("#login"),
	 	 	shade: [0.1, '#000'],
	 	 	scrollbar: false,
	 	 	closeBtn: 1,
	 	 	shadeClose :true,
	 	 	yes: function(index){
				 layer.close(index);
			},
			end : function() {
				 $("#myForm")[0].reset();
	 	 		 $("#login").hide();
			}
		});
	}
	
	
	function regit(){
		layer.close(layer.index);
		
		layer.open({
			title:'注册',
	  		type: 1,
	  		area: ['400px', '400px'], //宽高
	 	 	content: $("#regit"),
	 	 	shade: [0.1, '#000'],
	 	 	scrollbar: false,
	 	 	closeBtn: 1,
	 	 	shadeClose :true,
	 	 	yes: function(index){
				 layer.close(index);
			},
			end : function() {
				 $("#regitF")[0].reset();
	 	 		 $("#regit").hide();
			}
		});
	}
	
	
	function forgot(){
		layer.close(layer.index);
		window.location.href="/checkEmail";
	}
</script>
</body>
</html>