<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>小明学堂</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/ft-carousel.css">
</head>
<body>
	#include("header.html")
	<div class="warp-banner">
		<div class="ft-carousel" id="carousel_1">
			<ul class="carousel-inner">
				<li class="carousel-item"><img src="img/2.jpg" /></li>
				<li class="carousel-item"><img src="img/4.jpg" /></li>
				<li class="carousel-item"><img src="img/5.jpg" /></li>
				<li class="carousel-item"><img src="img/6.jpg" /></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="content-c">
			<!-- 猜你喜欢 -->
			<div class="like">
				<div class="title">
					<h3>猜你喜欢</h3>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span class="buy">¥1.00</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 热门课程 -->
			<div class="like">
				<div class="title">
					<h3>全部课程</h3>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span class="buy">¥1.00</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
				<div class="course-card">
					<div class="course-img">
						<img src="img/course1.png" alt="">
						<div class="course-info">随到随学（共59节）</div>
						<div class="course-name">
							<a href="#">PHP开发入门基础/web前端/MySQL/模板引擎/框架</a>
						</div>
						<div class="author">
							<span>免费</span>
							<a href="#">小明学堂</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="footer">
		<div class="partner">
			<h3>友情链接</h3>
			<ul>
				<li><a href="#">腾讯课堂</a></li>
				<li><a href="#">网易云课堂</a></li>
				<li><a href="#">bootstrap</a></li>
				<li><a href="#">layui</a></li>
				<li><a href="#">JFinal</a></li>
			</ul>
		</div>
		<div class="footer-content">
			<p><img src="img/logo-min.png"></p>
			<p>Copyright © 小明童鞋. All Rights Reserved.</p>
			<p>小明学堂在线教育有限公司 版权所有</p>
		</div>
	</div>
	
	<script src="/js/jquery.js"></script>
	<script src="/js/ft-carousel.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#carousel_1").FtCarousel();
		});
	</script>
</body>
</html>
