<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>消息中心</title>
<link rel="stylesheet" href="/css/ucenter.css">
<link rel="stylesheet" href="/css/pagination.css" />
<script src="/js/jquery.js"></script>
</head>
<body>

		<div class="in_r_tit cf mt0">
			<dl class="cf ml_50 page-label"
				style="margin-top: 0px; margin-left: 50px;">
				<dd class="hover">
					<span class="fnt_16">系统消息</span>
				</dd>
			</dl>
		</div>

		<div class="in_r_page cf msg-table">
			<ul>
				<li class="title">标题</li>
				<li class="time">发送时间</li>
				<li class="num">操作</li>
			</ul>
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>
			
			
			<div class="tb-body">
				<div class="tb-wrapper">
					<ul class="clearfix">
						<li class="title">多线程完全不会，先要和spring...</li>
						<li class="time">2018-06-13 16:51:50</li>
						<li class="num"><a href="javascript:;" class="msg-more fnt_16">查看详情</a></li>
					</ul>
				</div>
				
				<div class="note-slide prz">
					<span class="pra note-outer-bubble"></span>
					<p class="fnt_16">您的账号已成功绑定邮箱<span class="note-email">jabcabcabcai@163.com</span>，以后您可以使用邮箱找回密码。</p>
				</div>
			</div>


			<div class="tc">
				<div class="pagination">
					<span class="current prev">上一页</span> <span class="current">1</span>
					<a href="javascript:void(0)">2</a> <a href="javascript:void(0)">3</a>
					<a href="javascript:void(0)">4</a> <a href="javascript:void(0)">5</a>
					<a href="javascript:void(0)" class="next">下一页</a>
				</div>
			</div>
		</div>


	<script type="text/javascript">
		$(function() {

			// 隔行换色
			$('.msg-table').each(function() {
				var This = $(this);
				This.find('ul').each(function(index) {
					if (index % 2 == 0) {
						$(this).addClass('even')
					}
				});

			})
			
			
			// 查看详情
			$('.msg-more').each(function(){
				$(this).on('click',function(){
					if($(this).hasClass('open')){
						$(this).parents('.tb-wrapper').siblings('.note-slide').stop().slideUp();
						$(this).removeClass('open');
						$(this).text('查看详情')
					}else{
						$(this).parents('.tb-wrapper').siblings('.note-slide').stop().slideDown();
						$(this).addClass('open');
						$(this).text('收起')
					}
					
				})
			});

		});
	</script>
</body>
</html>