<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	·
	<div class="comment clearfix">
		<div class="author left">
			<a class="vm" href="jump/index_focus?id=129"> <img class="avatar"
				src="/upload/ly-test-pic01.jpg" alt="" width="60" height="60">
			</a> <a class="vm author-name" href="jump/index_focus?id=129">DR1528860580</a>
			<img class="vm" width="14" height="12" src="images/icon/icon-lv-.png"
				alt="">
		</div>
		<div class="comment-wrap right">
			<div class="comment-wrap-kuang">
				<p class="date">2018-06-15 17:40:14</p>
				<p class="content">nice</p>
				<div class="comment-wrap-link">
					<a class="adoptTopicReplyParent dn"
						href="javascript:replyAdopt(49,336,129);">采纳</a> <a
						class="comment-btn" href="javascript:;">回复(1)</a>
				</div>
			</div>
			<div class="textarea dn">
				<form action="">
					<textarea id="topicReplyParent336" placeholder="写下你的评论..."></textarea>
					<div class="submit-bar-1">
						<a href="javascript:topicReplySynch('2',336,49);">发送</a>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</body>
</html>