<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/ucenter.css">
<script src="/js/jquery.js"></script>
<script type="text/javascript">

function setHeight(height) {
	$("#_frame").attr("height", height);
}

</script>
<title>用户中心</title>
</head>
<body>
	#include("header.html")

	<div class="main">
		<div class="w1200">
			<p class="position">
				我的位置: <span>平台首页</span>
			</p>
			<div class="index_left">
				<div class="in_l_con01">
					<div class="photoBox">
						<img class="avatar" src="/img/userinfo.png" alt="头像" />
					</div>
					<svg width="140" height="140" viewBox="0 0 140 140" data-dash="50"
						stroke-linecap="round">
						<circle cx="70" cy="70" r="65" stroke-width="10" stroke="#fff"
							fill="none"></circle>
						<circle cx="70" cy="70" r="65" stroke-width="10" stroke="#a5d6f5"
							fill="none" transform="matrix(0,-1,1,0,0,140)"
							stroke-dasharray="219.9114857512855 500"></circle>
					</svg>

					<p>maming@300.cn</p>
				</div>

				<div class="in_l_con05 cf">
					<dl class="cf active">
						<dt>
							<a href="##" class="fnt_16"><span class="spanIco bg-ico37"></span>用户信息<i></i></a>
						</dt>
						<dd>
							<ul>
								<li><a href="/myInfo" target="myFrame">个人资料</a></li>
								<li><a href="/resetpwd" target="myFrame">重置密码</a></li>
							</ul>
						</dd>
					</dl>
					<dl class="cf">
						<dt>
							<a href="/myFaq" target="myFrame" class="fnt_16"><span
								class="spanIco bg-ico43"></span>我的问答</a>
						</dt>
					</dl>
					<dl class="cf">
						<dt>
							<a href="javascript:;" data-src="notice.html" class="fnt_16"><span
								class="spanIco bg-ico41"></span>消息中心</a>
						</dt>
					</dl>
				</div>
			</div>
			<!-- 左侧导航结束 -->


			<!-- 右侧部分开始 -->
			<div class="index_right cf">
				<iframe frameborder="0" width="100%" scrolling="no"
					src="/myInfo" name="myFrame" id="_frame" />
			</div>
			<!-- 右侧部分结束 -->

		</div>
	</div>
</body>
</html>