<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/vip.css">
	<title>小明学堂</title>
</head>
<body>
	#include("header.html")
	
	<div class="vip-line">
		<div class="left">
			【VIP会员说明】
		</div>
		<div class="right">
		</div>
	</div>
	
	<div class="content">
		<dl>
			<dt>1.VIP会员购买：</dt>
			<dd>• 价格：299元/月；</dd>
			<dd>• 会员身份即买即生效。</dd>
			<dt>2.VIP会员有效期：</dt>
			<dd>• 有效期自购买当天开始，至次月当日结束（例：2016年11月15日购买的会员，有效期为：2016年11月15日-2016年12月15日）；；</dd>
			<dd>• 当前会员有效期结束之后，方可购买后续月份的VIP会员。</dd>
			<dt>3.VIP会员礼包：</dt>
			<dd>• 工位代金券 2张（每张面额100元）；</dd>
			<dd>• 会议室代金券 6张（每张面额50元）。</dd>
			<dt>4.VIP会员特权：</dt>
			<dd>• 会员专属VIP标志；</dd>
			<dd>• 优客工场社区内的社交、私信功能；</dd>
			<dd>• 优客工场会员专享服务商优惠明细；</dd>
			<dd>• U物VIP会员价；</dd>
			<dd>• 以上会员特权将随会员身份一起失效。</dd>
		</dl>
	</div>
	
	
	<div class="buy">
		<button class="btn btn-success" style="width: 200px;height: 38px;background: #84afe9;" lay-submit=""  lay-filter="save">购买会员</button>
	</div>
	
	<!-- 引入底部页面 -->
	#include("buttom.html")
</body>
</html>